<div class="container">
  <div class="conspiracy">
    <img src={{model.image}} alt={{model.title}} />
    <h2>{{model.title}}</h2>
    <h5>by {{model.author}}</h5>
    <h5>Case Status: {{model.category}}</h5>
    <br>
      {{#each model.content as |paragraph|}}
        <p>
          {{paragraph}}
        </p>
      {{/each}}  
  </div>
  {{update-post model=model update="update"}}<br>
  <button class="btn btn-danger center-block" {{action 'delete' model}}>Shred File</button>
</div>
